
.post-wrapper {
  width: 70vw;
  margin: 0 auto;
}

.post-list {
  max-height:  70vh;
  overflow: scroll;
}

.post {
  background-color: $color-night;
  color: $color-haus;
  margin: 1rem auto;
  padding: 5px 10px;
  font-size: .85rem;
  border-radius: $border-radius;
}

.post-form {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .post-form-input {
    margin: 0 .5rem;
    padding: 0 10px;
    border-radius: $border-radius;
    height: 40px;
  }

  .post-form-author {
    flex: 2;
    min-width: 150px;
  }

  .post-form-text {
    flex: 4;
    min-width: 400px;
  }

  .post-form-button {
    cursor: pointer;
    min-width: 75px;
    flex: 1;
    height: 40px;
    margin: 0 .5rem;
    font-size: 1.25rem;
    background-color: $color-night;
    border-radius: $border-radius;
    color: $color-haus;
    text-transform: uppercase;
    letter-spacing: .4rem;
    border: none;
  }
}
