@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import "./partials/variables";

body {
  margin: 0;
  padding: 0;
  font-family: $font-roboto;
  background-color: $color-haus;
  color: $color-night;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $color-night;
  height: 150px;
  padding: 20px;
  color: $color-haus;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
