@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f4;
  color: #333; }

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3f4f4;
  background-color: #333;
  height: 150px;
  padding: 20px; }

button {
  cursor: pointer;
  background-color: #333;
  border-radius: 3px;
  color: #f3f4f4;
  text-transform: uppercase;
  letter-spacing: .4rem;
  border: none;
  padding: .25rem;
  margin-right: .5rem; }

.light-button {
  background-color: #24828f;
  color: #f3f4f4; }

.navigation {
  display: flex; }
  .navigation li {
    margin: 0 .5rem;
    list-style: none; }

.post-wrapper {
  width: 80vw;
  margin: 0 auto; }

.post-list {
  max-height: 70vh;
  overflow: scroll; }

.post {
  background-color: #333;
  color: #f3f4f4;
  margin: 1rem auto;
  padding: 5px 10px;
  font-size: .85rem;
  border-radius: 3px; }
  .post a {
    margin-right: .5rem;
    color: #24828f; }

.post-form {
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .post-form .post-form-input {
    margin: .5rem;
    padding: 0 10px;
    border-radius: 3px;
    height: 40px;
    display: block; }
  .post-form .post-form-author {
    flex: 2;
    min-width: 150px; }
  .post-form .post-form-text {
    flex: 4;
    min-width: 200px;
    max-width: 100%; }
  .post-form .post-form-button {
    width: 75px;
    max-width: 100%;
    flex: 1;
    height: 40px;
    margin: .5rem;
    font-size: 1.25rem; }
